<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035286494104-q2h0d48plq8l0qjui1s8qm033c0qai14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035286494104-q2h0d48plq8l0qjui1s8qm033c0qai14</string>
	<key>API_KEY</key>
	<string>AIzaSyCl6P8_GjZg9I_Cq_qVLLIHqzycOJ84iTI</string>
	<key>GCM_SENDER_ID</key>
	<string>1035286494104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servitel.chip.production</string>
	<key>PROJECT_ID</key>
	<string>recarga-chip-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>recarga-chip-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035286494104:ios:669cad31e1a37d2e7fc9ed</string>
</dict>
</plist>